{% if posts %}
    {% for post in posts %}
        {% include 'post/post.html.twig' %}
    {% endfor %}
    <div hx-get="/profile/{{ profile.username }}/{{ section }}/page/2" hx-trigger="intersect once" hx-swap="afterend"></div>
    <script>toggleScroll();</script>
{% else %}
    <p class="text-muted p-2"><em>There are no {{ section }} yet</em></p>
{% endif %}
