{% extends "layout/base.html.twig" %}

{% block title %}{{ parent() }} - Sign In{% endblock %}

{% block content %}
    <style>
    html, body {
        height: 100%;
    }
    #sign-in form {
        max-width: 360px;
    }
    </style>
    <section id="sign-in" class="container d-flex justify-content-center align-items-center h-100">
        <form class="bg-light rounded shadow p-4" method="POST" hx-post="{{ uri('auth.sign-in.post') }}" hx-swap="outerHTML" hx-target="#sign-in" hx-select="#sign-in">
            {{ csrf()|raw }}
            <h1>Sign In</h1>
            <p>Welcome back! Please sign in below.</p>
            <hr>
            {% include "components/flash.html.twig" %}
            <div class="form-floating mb-3">
                <input type="input" class="form-control {% if validation_errors.email is defined %}is-invalid{% endif %}" id="email" name="email" placeholder="" autocomplete="email">
                <label for="email">Email address</label>
                 {% include 'components/validation.html.twig' with {'validate': 'email'} %}
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control {% if validation_errors.password is defined %}is-invalid{% endif %}" id="password" name="password" placeholder="" autocomplete="current-password">
                <label for="password">Password</label>
                 {% include 'components/validation.html.twig' with {'validate': 'password'} %}
            </div>
            <div class="d-grid gap-2 mb-3">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
            <div class="d-flex mt-4 justify-content-center">
                <p><a hx-boost="true" href="/register" hx-swap="outerHTML" hx-select="#register" hx-target="#sign-in">Create new account</a></p>
            </div>
        </form>
    </section>
{% endblock %}
