body, html, #content {
    height: 100%;
}

#sign-in, #register {
    background-color: #f1f2f6;
}

#sign-in form, #register form {
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/** Flash messages */
.flash.alert {
    margin-bottom: 5px;
}
.flash.alert svg {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}
.flash.alert-warning {
    border-left: 4px solid #ff9305;
    fill: #ff9305;
}
.flash.alert-danger {
    border-left: 4px solid #ff4747;
    fill: #ff0000;
}
.flash.alert-success {
    border-left: 4px solid #25a140;
    fill: #25a140;
}
.flash.alert-info {
    border-left: 4px solid #4772ff;
    fill: #4772ff;
}
