@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f1f2f6;
}

#content {
    height: 100%;
}

/** Flash messages */
.flash.alert {
    margin-bottom: 5px;
}
.flash.alert svg {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}
.flash.alert-warning {
    border-left: 4px solid #ff9305;
    fill: #ff9305;
}
.flash.alert-danger {
    border-left: 4px solid #ff4747;
    fill: #ff0000;
}
.flash.alert-success {
    border-left: 4px solid #25a140;
    fill: #25a140;
}
.flash.alert-info {
    border-left: 4px solid #4772ff;
    fill: #4772ff;
}
