{% extends "layout/base.html.twig" %}

{% block title %}{{ parent() }} - Terms of Service{% endblock %}

{% block content %}
    <section id="terms-of-service" class="container">
        <div class="bg-light p-4">
            <h1>Terms of Service</h1>
            <p>WIP</p>
        </div>
    </section>
{% endblock %}
