{% if term %}
    <div class="mb-1">
        <button class="btn text-dark" hx-get="/" hx-select="#view" hx-target="#view" hx-swap="outerHTML" hx-push-url="true"><i class="bi bi-arrow-left-circle me-2"></i> Feed</button>
    </div>
{% endif %}
{% if posts %}
    {% for post in posts %}
        {% include 'post/post.html.twig' %}
    {% endfor %}
    <div hx-get="/search/page/2" hx-trigger="intersect once" hx-swap="afterend"></div>
    <button 
        id="post-button"
        hx-get="/post/control"
        hx-target="#modal"
        hx-trigger="click"
        data-bs-toggle="modal"
        data-bs-target="#modal"
        class="btn btn-sm btn-primary d-block d-md-none">
        <i class="bi bi-pencil-square"></i>
    </button>
    <script>toggleScroll();</script>
{% elseif not posts and term %}
    <p class="text-muted p-2"><em>There are no posts that matched '{{ term }}'</em></p>
{% endif %}
