{% for post in posts %}
    {% include 'post/index.html.twig' %}
{% endfor %}
{% if not posts and not term %}
    <p class="text-muted p-2"><em>There are no posts yet</em></p>
{% elseif not posts and term %}
    <p class="text-muted p-2"><em>There are no posts that matched '{{ term }}'</em></p>
{% endif %}
<div hx-get="/feed/more/2" hx-trigger="intersect once" hx-swap="afterend"></div>
<script>
  let toggleScroll = () => {
    let btn = document.getElementById("scroll-top");
    if (window.scrollY > 100) {
      btn.classList.add("active");
      btn.classList.remove("disable");
    } else {
      btn.classList.remove("active");
      btn.classList.add("disable");
    }
  }
  toggleScroll();

  window.addEventListener("scroll", toggleScroll);
</script>
