<div id="content-modal" class="modal-dialog modal-dialog-centered">
    <form method="POST" class="w-100">
        {{ csrf()|raw }}
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-sm" data-bs-dismiss="modal">Cancel</button>
                <button 
                    type="button" 
                    hx-post="/post/create"
                    hx-trigger="click"
                    hx-swap="afterbegin"
                    hx-target="#view"
                    class="btn btn-sm btn-primary ms-auto" 
                    data-bs-dismiss="modal">Post</button>
            </div>
            <div class="modal-body">
                <div class="d-flex">
                    <img id="avatar" class="me-3" src="{{ user.gravatar }}" alt="avatar" />
                    <textarea class="form-control" placeholder="What's up?" name="content" id="content"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <div class="w-100 d-flex justify-content-start">
                    <i class="bi bi-image-fill me-3"></i>
                    <i class="bi bi-film me-3"></i>
                    <i class="bi bi-filetype-gif me-3"></i>
                    <i class="bi bi-emoji-smile"></i>
                </div>
            </div>
        </div>
    </form>
</div>
