<div id="content-modal" class="modal-dialog modal-dialog-centered">
    <form method="POST" class="w-100">
        {{ csrf()|raw }}
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-sm" data-bs-dismiss="modal">Cancel</button>
                <button 
                    type="button" 
                    hx-post="{% if post %}/post/{{ post.uuid }}/reply{% else %}/post/create{% endif %}"
                    hx-trigger="click"
                    hx-swap="afterbegin scroll:top"
                    hx-target="#view"
                    class="btn btn-sm btn-primary ms-auto" 
                    data-bs-dismiss="modal">Post</button>
            </div>
            <div class="modal-body">
                {% if post %}
                    <div class="post-cont p-2 bg-white w-100">
                        <div class="post">
                            {% include "post/common.html.twig" %}
                        </div>
                    </div>
                {% endif %}
                <div class="d-flex h-100 {% if post %}mt-3{% endif %}">
                    <img id="avatar" class="me-3" src="{{ user.gravatar }}" alt="avatar" />
		    <div id="editor" class="bg-white h-100">
			<div id='quill-content'></div>
			<input type="hidden" id='editor-content' name="content" value="" />
			<script>
			    var quill_content = new Quill('#quill-content', {
			      modules: {
			          toolbar: [
				    [{ header: [1, 2, 3, 4, 5, false] }],
				    ['bold', 'italic', 'underline', 'strike'],
				    [{'color': [], 'background': [] }],
				    [{ list: 'ordered' }, { list: 'bullet' }],
				    ['link', 'image', 'video'],
				    ['clean']
			          ],
			      },
			      placeholder: "",
			      theme: 'snow'
			    });

			    // Function to update hidden textarea
			    var update_content = () => {
			    	document.querySelector('#editor-content').value = quill_content.root.innerHTML;
			    }
			    // Update on every text change
			    quill_content.on('text-change', update_content);
			    setTimeout(() => {
			      quill_content.focus();
			      document.querySelectorAll("#quill-content input").forEach((el) => {
			      	el.hidden = true;
			      });
			    });
			    update_content();
			</script>
		    </div>
                </div>
            </div>
            <!--<div class="modal-footer">
                <div class="w-100 d-flex justify-content-start">
                    <i class="bi bi-image-fill me-3"></i>
                    <i class="bi bi-film me-3"></i>
                    <i class="bi bi-filetype-gif me-3"></i>
                    <i class="bi bi-emoji-smile"></i>
                </div>
            </div>-->
        </div>
    </form>
</div>
