<div class="p-2 post-cont bg-light" hx-get="/post/{{ post.uuid }}/load" hx-trigger="intersect once">
    <div class="w-100 d-flex justify-content-center align-items-center" style="height: 100px;">
        <img class="loader" src="/img/loading.gif" alt="loading" />
    </div>
</div>
