<div class="p-2 post-cont bg-light" hx-get="/post/{{ post.uuid }}/load" hx-trigger="intersect once">
    <div class="p-2 w-100 d-flex justify-content-center p-4">
        <img class="loader" src="/img/loading.gif" alt="loading" />
    </div>
</div>
