{% if posts %}
    {% for post in posts %}
        {% include 'post/post.html.twig' %}
    {% endfor %}
    <div hx-get="/post/{{ uuid }}/comments/page/2" hx-trigger="intersect once" hx-swap="afterend"></div>
    <script>toggleScroll();</script>
{% else %}
    <p class="text-muted p-2"><em>There are no comments yet</em></p>
{% endif %}
