<div class="news">
    <p class="title"><strong>{{ article.title }}</strong></p>
    <div class="d-flex flex-column">
        <span class="source">Source: {{ article.source.name }}</span>
        {% if article.author and article.author != article.source.name %}
        <span class="author">Author: {{ article.author }}</span>
        {% endif %}
    </div>
    <p class="content">{{ article.content }}</p>
</div>
