<div id="{{ post.uuid }}" class="p-2 post-cont bg-light w-100" hx-get="/post/{{ post.uuid }}/load" hx-trigger="load">
    <p class="w-100 d-flex justify-content-center align-items-center loader">&nbsp;</p>
</div>
