{% extends "layout/base.html.twig" %}

{% block content %}
    <section id="sign-in" class="d-flex align-items-center justify-content-center h-100">
        <form method="POST" hx-post="/sign-in">
            {% include "components/flash.html.twig" %}
            <div class="form-floating mb-3">
                <input type="input" class="form-control {% if validation_errors.email is defined %}is-invalid{% endif %}" id="email" name="email" placeholder="" autocomplete="email">
                <label for="email">Email address</label>
                 {% include 'components/validation.html.twig' with {'validate': 'email'} %}
            </div>
            <div class="form-floating">
                <input type="password" class="form-control {% if validation_errors.password is defined %}is-invalid{% endif %}" id="password" name="password" placeholder="" autocomplete="current-password">
                <label for="password">Password</label>
                 {% include 'components/validation.html.twig' with {'validate': 'password'} %}
            </div>
            <div class="mt-2 d-grid gap-2">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
        </form>
    </section>
{% endblock %}
