{% extends "layout/base.html.twig" %}

{% block content %}
    {% include 'components/bottom-nav.html.twig' %}
    <section id="app" class="h-100 d-flex container">
        <section id="left" class="pe-3 d-none d-md-block">
        {% block left_content %}
            {% include 'components/left-content.html.twig' %}
        {% endblock %}
        </section>
        <section id="center" class="p-2">
            {% block center_content %}{% endblock %}
        </section>
        <section id="right" class="ps-3 d-none d-md-block">
        {% block right_content %}
            {% include 'components/right-content.html.twig' %}
        {% endblock %}
        </section>
        <button 
            id="scroll-top"
            onClick="scrollToTop()"
            class="btn btn-sm btn-light d-block d-md-none">
            <i class="bi bi-caret-up-fill"></i>
        </button>
        <div id="modal"
            class="modal modal-blur fade"
            style="display: none"
            aria-hidden="false"
            tabindex="-1">
            <div id="content-modal" class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    </div>
                    <div class="modal-body d-flex align-items-center justify-content-center" style="height: 120px;">
                        <img class="loader" src="/img/loading.gif" alt="loading" />
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
