<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>{% block title %}{{ app.name }}{% endblock %}</title>
            <link href="/css/bootstrap.min.css" rel="stylesheet">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD" crossorigin="anonymous">
            <link href="/css/style.css?20250523v1" rel="stylesheet">
            <script src="/js/htmx.min.js"></script>
            <script src="/js/script.js?20250523v1"></script>
            <script src="/js/bootstrap.bundle.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <section id="content">{% block content %}{% endblock %}</section>
        {% block footer %}
        {% endblock %}
        {% block scripts %}
        {% endblock %}
    </body>
</html>
