<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>{% block title %}{{ app.name }}{% endblock %}</title>
            <link href="/css/bootstrap.min.css" rel="stylesheet">
            <link href="/css/style.css" rel="stylesheet">
            <script src="/js/htmx.min.js"></script>
            <script src="/js/bootstrap.bundle.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <section id="content">{% block content %}{% endblock %}</section>
        {% block footer %}
        {% endblock %}
        {% block scripts %}
        {% endblock %}
    </body>
</html>
